/* Use QUEENS colors. */
html[data-theme="light"] {
    --pst-color-primary: #5cbbfeff;
    --pst-color-secondary: #5cbbfeff;
}

/* Use QUEENS colors. */
html[data-theme="dark"] {
    --pst-color-primary: #5cbbfeff;
    --pst-color-secondary: #5cbbfeff;
}

a {
    text-decoration: none;
    /* Remove the underline from links. */
}

a:hover {
    text-decoration: underline;
    /* Underline links when howering. */
}

.bd-main .bd-content .bd-article-container {
    max-width: 100%;
    /* Use the entire width */
}

.bd-page-width {
    max-width: 100%;
    /* Use the entire width */
}
