__pycache__
# do not track doc files that are automatically build
doc/build
doc/source/*.rst
doc/source/*.md

# but keep static rst files
!doc/source/index.rst
!doc/source/tutorials.rst
!doc/source/tutorials.onboarding.rst

# C extensions
*.so

# distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# notebook checkpoints
*.ipynb_checkpoints

# pytest related
.pytest_cache/
.coverage*

# singularity images
singularity_image.sif
hashfile.txt

# temporary files
temporary_submission_script.sh

# windows pycharm idea files
.idea

# ignore egg package files
.eggs/
*.egg-info/

# ignore config folder
config/

# ignore temporarily created requirements file
requirements.tmp

# vscode config files
.vscode/settings.json
.vscode/launch.json
*.code-workspace

# environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# best editor ever files
*.swp
