__pycache__
# do not track doc files that are automatically build
doc/build
doc/source/*.rst
# but keep index.rst
!doc/source/index.rst
!doc/source/intro.rst
!doc/source/tutorials.rst
!doc/source/architecture.rst

jupyter_notebooks/*.ipynb_checkpoints

.coverage

_posts/
bin/
build/
database_data/
diagnostic.data/
dist/
journal/
pqueens.egg-info
