__pycache__
# do not track doc files that are automatically build
doc/build
doc/source/*.rst
# but keep index.rst
!doc/source/index.rst
!doc/source/intro.rst
!doc/source/tutorials.rst
!doc/source/architecture.rst

# notebook checkpoints
*.ipynb_checkpoints

.coverage

_posts/
bin/
build/
database_data/
diagnostic.data/
dist/
journal/
pqueens.egg-info
.pytest_cache/

# singularity images
singularity_image.sif
hashfile.txt

# windows pycharm idea files
.idea

# ignore egg package files
.eggs/

# ignore config folder
config/


# ignore temporarily created requirements file
requirements.tmp

# vscode config files
.vscode/settings.json
.vscode/launch.json
vscode_workspace_queens.code-workspace
