# This file contains all the requirements for QUEENS (production runs).

# Do not fix the version of a package if not strictly necessary. We use pip-tools in order to create a requirements.txt file where the version of the different packages are fixed to the latest stable version w.r.t. QUEENS. From time to time pip-tools is used to upgrade to the newer available versions.
-c requirements.txt

# Development
pylint>=2.16
pylint-exit
isort>=5.0
pre-commit
pre-commit-hooks>=4.4.0
liccheck
licenseheaders
sphinx
nbsphinx
pydata-sphinx-theme
pandoc
pip-tools
commitizen>=3.12.0
docformatter>=1.5.1
yamllint>=1.19.0
ruff
