###### use requirements without version fixed specifier where possible ######
numpy>=1.16.2
scipy>=1.2.1
scikit-learn
docker
arviz
# for database interfacing
pymongo
# for design of experiments
pyDOE
# for Gaussian Processes
gpy
# for sensitivity analysis
SALib>=1.3.3
# for documentation
sphinx
nbsphinx
jupyter
# making fancy plots
matplotlib
seaborn
plotly
# testing framework
pytest>=3.0.0
pytest-codestyle
pytest-cov
pytest-mock
# create mock objects for unit testing
mock
# make ascii-art prints
pyfiglet
# space filling subsets
diversipy
