###### use requirements without version specifier for now ######
numpy==1.14.1
scipy==1.0.0
matplotlib
sphinx
jupyter
scikit-learn
# for code coverage purposes
codecov
coverage
# for database interfacing
pymongo
# for design of experiments
pyDOE
# for Gaussian Processes
gpy
#for making nice plots
seaborn
docker
# for sensitivity analysis
SALib
# making fancy plots
plotly
# create mock objects for unit testing
mock
# for Gaussian processes and BO we need GPFlow, currently we rely on v0.4
# note that GPFlow will install TensorFlow as well
git+git://github.com/GPflow/GPflow.git@0.4.0#egg=gpflow
git+git://github.com/GPflow/GPflowOpt.git#egg=gpflow_opt
