# This file contains all the requirements for QUEENS (production runs).

# Do not fix the version of a package if not strictly necessary. We use pip-tools in order to create a requirements.txt file where the version of the different packages are fixed to the latest stable version w.r.t. QUEENS. From time to time pip-tools is used to upgrade to the newer available versions.

# dependencies from environment.yml (i.e., they are handled by conda)
cython==3.0.11
numba==0.60.0
numpy==1.26.4
pandas==2.2.3
scikit-learn==1.5.2
scipy==1.14.1

# Dask packages
dask
distributed # dask.distributed
dask-jobqueue
bokeh>3 # for dask dashboard
fabric  # for ssh connection

# Others
xarray # Special array format
pyDOE # design of experiments
SALib # for sensitivity analysis
diversipy # sampling from space filling subsets
vtk>=9.2.0 # vtk format handler
pyvista
autograd # wrapper around numpy for automated differentiation
particles # Chopin et al. sequential Monte-Carlo, filtering/smoothing package
chaospy # polynomial chaos
pyyaml # to load yaml files
jinja2

# Machine learning libraries
arviz # Bayesian visualization
gpflow # LV and variational GPs
optax # google jax based optimizer
tensorflow
tensorflow-probability
jax
scikit-activeml>=0.4.1
pymc
stable-baselines3

# making fancy plots
matplotlib
seaborn
plotly

# testing framework
pytest
py
pytest-codestyle
pytest-cov
pytest-mock
pytest-xdist
mock
py

# Terminal utils
pyfiglet # make ascii  -art printsc
tqdm # a smart progress meter for loops
gnuplotlib # for gnuplot based terminal ascii plots
tomli # TOML parser

# Other Python stuff
pathos # multiprocessing with more complex python objects
black>=24.4.2 # formatter for code created by QUEENS's create_script_from_input_file() method

# needed for dev-requirements, check if still needed
importlib-metadata<7
