1) Monte Carlo UQ
=================

A simple example from our `README.md <https://github.com/queens-py/queens/blob/main/README.md>`_:

.. code-block:: python

{{ example_text }}

Resulting in the histogram:

.. image:: images/monte_carlo_uq.png
  :width: 500
  :align: center
  :alt: Monte Carlo Histogram
